#wrapper {
  width: 500px;
  margin: 0 auto;
}

#status {
  color: #01600a;
  margin-top: 10px;
}

.center {
  text-align: center;
}

.bordered {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.link, .link:visited {
  color: #ccc;
  text-decoration: none;
}

.link:hover {
  color: #999;
}

.option {
  margin: 1em 0;
}

.description {
  color: #666;
  font-size: 14px;
  padding-left: 25px;
}